@unocss all;

html,
body {
  scroll-behavior: auto;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'BinancePlex';
  font-display: swap;
  src:
    url('/fonts/bp/BinancePlex-Light.woff2') format('woff2'),
    url('/fonts/bp/BinancePlex-Light.otf') format('opentype');
  font-weight: 200;
}
@font-face {
  font-family: 'BinancePlex';
  font-display: swap;
  src:
    url('/fonts/bp/BinancePlex-Light.woff2') format('woff2'),
    url('/fonts/bp/BinancePlex-Light.otf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'BinancePlex';
  font-display: swap;
  src:
    url('/fonts/bp/BinancePlex-Regular.woff2') format('woff2'),
    url('/fonts/bp/BinancePlex-Regular.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'BinancePlex';
  font-display: swap;
  src:
    url('/fonts/bp/BinancePlex-Medium.woff2') format('woff2'),
    url('/fonts/bp/BinancePlex-Medium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'BinancePlex';
  font-display: swap;
  src:
    url('/fonts/bp/BinancePlex-SemiBold.woff2') format('woff2'),
    url('/fonts/bp/BinancePlex-SemiBold.otf') format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: 'BinancePlex';
  font-display: swap;
  src:
    url('/fonts/bp/BinancePlex-Bold.woff2') format('woff2'),
    url('/fonts/bp/BinancePlex-Bold.otf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'BinancePlex';
  font-display: swap;
  src:
    url('/fonts/bp/BinancePlex-Bold.woff2') format('woff2'),
    url('/fonts/bp/BinancePlex-Bold.otf') format('opentype');
  font-weight: 800;
}
@font-face {
  font-family: 'BinancePlex';
  font-display: swap;
  src:
    url('/fonts/bp/BinancePlex-Black.woff2') format('woff2'),
    url('/fonts/bp/BinancePlex-Black.otf') format('opentype');
  font-weight: 900;
}

body {
  font-family: BinancePlex, Arial, sans-serif !important;
}

html body {
  font-family: BinancePlex, Arial, sans-serif !important;
}
